:root {
  /* Colors */
  --color-white: hsl(0, 100%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-purple-800: hsl(237, 14%, 26%);
  --color-purple-700: hsl(233, 14%, 35%);
  --color-purple-600: hsl(235, 16%, 43%);
  --color-purple-300: hsl(234, 39%, 85%);
  --color-purple-100: hsl(236, 33%, 92%);
  --color-gray-600: hsl(236, 9%, 61%);
  --color-gray-300: hsl(233, 11%, 84%);
  --color-gray-50: hsl(0, 0%, 98%);
  --color-navy-950: hsl(235, 21%, 11%);
  --color-navy-900: hsl(235, 24%, 19%);
  --color-navy-850: hsl(235, 19%, 35%);
  --color-blue-500: hsl(220, 98%, 61%);
  --color-blue-purple-gradient-light: linear-gradient(
    to right,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  --color-blue-purple-gradient-dark: linear-gradient(
    to right,
    hsl(254, 85%, 40%),
    hsl(307, 64%, 39%)
  );
  /* Typography */
  --font-family-base: 'Inter', sans-serif;
  --font-size-base: 1rem;
  --font-weight-base: 400;
  --font-weight-bold: 700;
  --line-height-base: 1;
  --text-preset-base: var(--font-weight-base) var(--font-size-base) /
    var(--line-height-base) var(--font-family-base);
  --text-preset-1: var(--font-weight-base) 1.125rem / var(--line-height-base)
    var(--font-family-base);
  --text-preset-2: var(--font-weight-bold) 0.875rem / var(--line-height-base)
    var(--font-family-base);
  --text-preset-3: var(--font-weight-base) 0.875rem / var(--line-height-base)
    var(--font-family-base);
  --text-preset-4: var(--font-weight-base) 0.75rem / var(--line-height-base)
    var(--font-family-base);
  /* Spacing */
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-600: 3rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

html {
  background-color: var(--color-gray-50);
  color: var(--color-navy-850);
  font: var(--text-preset-base);
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  margin: auto var(--spacing-300);
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 12.5rem;
  z-index: -1;
}
